<div class="row">
  <div style="background-color:rgb(253,236,1); overflow: hidden" class="col-12">
    <img style="max-width: 100%; margin-top: -200px; float: right" src="../../../assets/bgy.png">
  </div>
</div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4" style="background-color: white; margin-top: -200px">
    <h2>Title</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
      uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
      uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
      uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
      uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.</p>
  </div>
  <div class="col-4"></div>
</div>
