<div class="grid-container d-sm-none d-none d-md-block" style="background-color:#42448F; padding: 0; margin: 0">
  <div class="row" style=" padding: 0; margin: 0">
    <div class="col-4" style="text-align: center; margin-top: 1%">
      <img src="../../../assets/logo3.png" style="cursor: pointer">
    </div>
    <div class="col-4" style="margin-top: 3%">
      <h4 style="cursor: default">Site</h4>
      <ul style="list-style-type: none; padding: 0">
        <li><p (click)="move('home')">Accueil</p></li>
        <li><p (click)="move('links')">Liens utiles</p></li>
        <li><p (click)="move('contact')">Contact</p></li>
      </ul>
    </div>
    <div class="col-4" style="margin-top: 3%">
      <h4 style="cursor: default">Contact</h4>
      <ul style="list-style-type: none; padding: 0">
        <li><p>+32 495 56 02 85</p></li>
        <li><p>geometre.peters@gmail.com</p></li>
        <li><p>8 Rue Jules Rasquinet - 4610 Queue-du-bois (Beyne-Heusay)</p></li>
      </ul>
    </div>
  </div>
</div>

