<ul class="row d-none d-sm-none d-md-flex" style="list-style-type: none; padding: 0; margin: 0">
  <li class="col-2"></li>
  <li (click)="go('home')" class="col-2"><button>Accueil</button></li>
  <li class="col-2">
    <div class="dropdown">
    <button class="dropbtn">Activités</button>
    <div style="width:200px" class="dropdown-content">
      <a (click)="goTo('Relevé Topographique')">Topographie</a>
      <a (click)="goTo('Division')">Division</a>
      <a (click)="goTo('Calcul de Quotité')">Calcul de Quotité</a>
      <a (click)="goTo('Mesurage Technique')">Mesurage technique</a>
      <a (click)="goTo('Etat des Lieux')">Etat des lieux</a>
      <a (click)="goTo('Implantations')">Implantations</a>
      <a (click)="goTo('Bornage')">Bornage</a>
      <a (click)="goTo('Expertise immobilière')">Expertise immobilière</a>
      <a (click)="goTo('Photogrammétrie par Drone')">Photogrammétrie par drone</a>
    </div>
    </div>
  </li>
  <li class="col-2" (click)="go('links')"><button>Liens utiles</button></li>
  <li class="col-2"><button>Contact</button></li>
  <li class="col-2"></li>
</ul>
<hr style="margin-bottom: 0">
