<ul class="row" style="list-style-type: none; padding: 0; margin: 0">
  <li class="col-2"></li>
  <li class="col-2"><button>Accueil</button></li>
  <li class="col-2">
    <div class="dropdown">
    <button class="dropbtn">Activités</button>
    <div style="width:200px" class="dropdown-content">
      <a>Topographie</a>
      <a>Division</a>
      <a>Calcul de Quotité</a>
      <a>Mesurage technique</a>
      <a>Etat des lieux</a>
      <a>Implantation de batiment</a>
      <a>Bornage</a>
      <a>Expertise immobilière</a>
      <a>Photogrammétrie par drone</a>
    </div>
    </div>
  </li>
  <li class="col-2"><button>Liens utiles</button></li>
  <li class="col-2"><button>Contact</button></li>
  <li class="col-2"></li>
</ul>
<hr>
