
<div class="grid-container" style="background-color:rgb(253,236,1)">
  <img src="../../../assets/logo2.png" width="100px" style="cursor: pointer; margin-top: 3%; margin-bottom: 3%; margin-left: 3%">

  <p class="d-none d-md-block" style="margin-right: 60px;float:right; margin-top:5%">geometre.peters@gmail.com</p>

  <img class="d-none d-md-block" style="margin-top:5%;float:right;margin-right:15px" width="20px" src="../../../assets/enveloppe.png" alt="mail"/>

  <p  class="d-none d-md-block" style="margin-right: 60px;float:right; margin-top:5%">+32 495 56 02 85</p>

  <img class="d-none d-md-block" style="margin-top: 5%;float:right;margin-right:15px" width="20px"  src="../../../assets/phone-call.png"  alt="call"/>

</div>
