
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card [style.backgroundSize]="'cover'" [ngStyle]="{'background': 'url(' + card.url + ') no-repeat'}" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <ul style="font-family: 'Open Sans Condensed';color:black; cursor: default"
                [style.fontSize]="card.fontSize"
                [style.fontWeight]="card.fontWeight"
                [style.backgroundColor]="card.bgc"
                [style.textAlign]="card.text"
                [style.padding]="card.padding">
              <li *ngIf="card.type=='other'"  [style.cursor]="card.cursor">{{card.list1}}</li>
              <li *ngIf="card.type=='contact'"  [style.cursor]="card.cursor"><a style="color:black" href="tel:+32495560285">{{card.list1}}</a></li>
              <li *ngIf="card.type=='other'"  [style.cursor]="card.cursor">{{card.list2}}</li>
              <li *ngIf="card.type=='contact'"  [style.cursor]="card.cursor"><a style="color:black" href="mailto:pters.kevin@gmail.com">{{card.list2}}</a></li>
              <li>{{card.list3}}</li>
              <li>{{card.list4}}</li>
              <li>{{card.list5}}</li>
              <li>{{card.list6}}</li>
              <li>{{card.list7}}</li>
            </ul>
            <a *ngIf="card.type=='contact'" style="float: right;" href="https://www.facebook.com/geometre.peters/" class="fa fa-facebook"></a>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

