<div class="container">
  <div class="row" style=" padding: 0; margin: 0">
    <div class="col-6">
      <div class=row>
        <h2>Bienvenue chez Géomètre Péters</h2>
        <hr/>
      </div>
      <div class="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
        uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
        uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
        uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo fugiat odio sequi iure vero officia, q
        uam eos laborum tenetur, non veniam, quis aspernatur omnis? Qui cumque ipsum aut dolorem.</div>
    </div>



    <div class="col-6" style="background-color:yellow"></div>
  </div>

</div>


<div class="row col-12" style="background-color:rgb(242,242,242); margin-top: 5%; margin-right:0">
  <div class="row col-12">
    <h2 style="margin-top: 3%; margin-left: 3%; margin-bottom: 3%">Activités</h2>
    <hr>
  </div>
  <div class="row col-12" style="text-align: left">
    <div class="col-4"><p>Topographie</p></div>
    <div class="col-4"><p>Division</p></div>
    <div class="col-4"><p>Calcul de Quotité</p></div>
  </div>
  <div class="row col-12" style="text-align: left">
    <div class="col-4"><p>Mesurage technique</p></div>
    <div class="col-4"><p>Etat des lieux</p></div>
    <div class="col-4"><p>Implantation de batiment</p></div>
  </div>
  <div class="row col-12" style="text-align: left;margin-bottom: 3%">
    <div class="col-4"><p>Bornage</p></div>
    <div class="col-4"><p>Expertise immobilière</p></div>
    <div class="col-4"><p>Photogrammétrie par drone</p></div>
  </div>
</div>
