<div class="row  d-none d-sm-none d-md-flex">
  <div style="background-color:rgb(253,236,1); overflow: hidden" class="col-12">
    <img style="max-width: 100%; margin-top: -200px; float: right" src="../../../assets/bgy.png">
  </div>
</div>

<div class="row d-none d-sm-none d-md-flex">
  <div class="col-3"></div>
  <div class="col-6" style="background-color: white; margin-top: -200px">
    <h2 style="margin-top: 2%">{{activity}}</h2>
    <hr>
    <div *ngIf="activity==='Relevé Topographique'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Le relevé topographique a pour but de récolter, in situ, les données de la situation existante d’un terrain, d’un bâtiment à l’aide d’un appareil de mesure (la station totale). Les données peuvent être prises en planimétrie (X,Y) et on peut ajouter des données d’altimétrie (Z – altitude).
      Lorsque les points sont levés, on procède à la retranscription de ces points sur plan, à l’échelle.
      <br>
      Les relevés topographiques sont utilisés pour réaliser :
      <ul>
    <li>Un plan de division</li>

    <li>Un plan de bornage</li>

    <li>La pose des bornes</li>

    <li>Un plan de situation</li>

    <li>Des relevés techniques</li>

    <li>Des relevés de situations existantes</li>
    </ul>
      Les relevés peuvent être positionnés dans un système de coordonnées local ou de référence (Lambert 72 ou Lambert 2008).
    </div>

    <div *ngIf="activity==='Bornage'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Le bornage consiste à déterminer les limites de propriétés contiguës qui appartiennent à des propriétaires différents. Une fois les limites définies, on matérialise physiquement ces dernières par des bornes.
      <br><br>
      Il est aussi possible de réaliser un bornage même si des bornes sont existantes. En effet, si les bornes ne sont pas accompagnées de plan et d’un procès-verbal de bornage, ces bornes ne sont pas fiables et ne sont donc pas valables.
      <br><br>
      Par ailleurs, si vous disposez d'un plan de bornage en bonne et due forme, mais que les bornes physiques sont introuvables, vous pouvez faire appel à un géomètre pour replacer les bornes manquantes. Il s'agit d'un réabornement.
      <br><br>
      Le bornage est régi en Belgique par l’article 646 du Code Civil qui stipule que le bornage se fait à frais communs, partagés par moitié, quelle que soit l’étendue respective des propriétés à borner.
    </div>

    <div *ngIf="activity==='Division'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      La division consiste à séparer un bien (terrain ou bâtiment) en deux ou plusieurs lots.
      <br><br>
      Le bureau s’occupera du relevé de la parcelle ou du bâtiment ainsi que de sa division selon les désires du client.
      <br><br>
      Une fois le plan de division approuvé par le client, nous nous occupons de la demande de pré-cadastration ainsi que de la demande d’un nouveau numéro de référencement du plan.
      <br><br>
      Si vous le désirez, nous pouvons aussi réaliser le bornage de la nouvelle parcelle crée afin de matérialiser physiquement la nouvelle limite du terrain.
      <br><br>
      S’il s’agit d’une division d’immeuble, il conviendra de réaliser un acte de base afin de fixer les quote-part des parties communes et privative de l’immeuble.
    </div>

    <div *ngIf="activity==='Etat des Lieux'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Un état des lieux consiste à une description précise de l’état actuel d’un bien. Lors de la visite, l’expert note tous les détails apparents afin de réaliser, en toute impartialité, un rapport écrit et illustré par des photographies.
      <br><br>
      Géomètre Péters réalise des états des lieux :
      <br><br>
      <ul>
        <li>Locatifs en entrée et sortie de bail</li>
        <li>Pour la construction (avant travaux et après travaux)</li>
      </ul>
    </div>

    <div *ngIf="activity==='Calcul de Quotité'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Lorsqu’un immeuble doit être divisé en plusieurs appartement, il est nécessaire de déterminer à qui appartient quoi et dans quelle proportion. Quelles sont les parties communes et privatives ?
      <br><br>
      Pour déterminer cela, il faut réaliser un acte de base qui comprendra un plan de division qui servira de base au calcul des quotes-parts et une description détaillée du bien à diviser. Ensuite, l’expert devra réaliser un rapport motivé afin de déterminer les quotes-parts afférentes aux parties communes et privatives.
      <br><br>
      Bien entendu, l’expert respectera le code de mesurage des surfaces bâties.
    </div>

    <div *ngIf="activity==='Implantations'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Nous implantons tous types de projets :
      <br><br>
      <ul>
        <li>Bâtiments</li>
        <li>Mur</li>
        <li>Axe de voirie</li>
        <li>Axe de clôture</li>
        <li>...</li>
      </ul>
    </div>


    <div *ngIf="activity==='Expertise immobilière'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Nous implantons tous types de projets :
      <br><br>
      <ul>
        <li>Bâtiments</li>
        <li>Mur</li>
        <li>Axe de voirie</li>
        <li>Axe de clôture</li>
        <li>...</li>
      </ul>
      <br/>
      Nous effectuons aussi les contrôles d’implantations.
    </div>


    <div *ngIf="activity==='Mesurage Technique'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Afin d’aider les architectes dans la réalisation d’extensions, de modifications des bâtiments ou encore pour les régularisations de permis;
      nous effectuons les mesurages nécessaires pour créer les différents plans dont ils ont besoin:
      <br>
      <ul>
        <li>Plan des différents étages (rez-de-chaussée, cave, étage, …)</li>

        <li>Plan des façades</li>

        <li>Plan de coupes</li>

        <li>Un plan de situation</li>

        <li>Plan de la situation extérieur existante</li>

      </ul>
      Les relevés peuvent être positionnés dans un système de coordonnées local ou de référence (Lambert 72 ou Lambert 2008).
    </div>


  </div>
  <div class="col-6"></div>
</div>

<div class="container row d-sm-fex d-md-none">
  <div class="col-12" style="background-color: white;">
    <h2 style="margin-top: 2%">{{activity}}</h2>
    <hr>
    <div *ngIf="activity==='Relevé Topographique'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Le relevé topographique a pour but de récolter, in situ, les données de la situation existante d’un terrain, d’un bâtiment à l’aide d’un appareil de mesure (la station totale). Les données peuvent être prises en planimétrie (X,Y) et on peut ajouter des données d’altimétrie (Z – altitude).
      Lorsque les points sont levés, on procède à la retranscription de ces points sur plan, à l’échelle.
      <br>
      Les relevés topographiques sont utilisés pour réaliser :
      <ul>
        <li>Un plan de division</li>

        <li>Un plan de bornage</li>

        <li>La pose des bornes</li>

        <li>Un plan de situation</li>

        <li>Des relevés techniques</li>

        <li>Des relevés de situations existantes</li>
      </ul>
      Les relevés peuvent être positionnés dans un système de coordonnées local ou de référence (Lambert 72 ou Lambert 2008).
    </div>

    <div *ngIf="activity==='Bornage'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Le bornage consiste à déterminer les limites de propriétés contiguës qui appartiennent à des propriétaires différents. Une fois les limites définies, on matérialise physiquement ces dernières par des bornes.
      <br><br>
      Il est aussi possible de réaliser un bornage même si des bornes sont existantes. En effet, si les bornes ne sont pas accompagnées de plan et d’un procès-verbal de bornage, ces bornes ne sont pas fiables et ne sont donc pas valables.
      <br><br>
      Par ailleurs, si vous disposez d'un plan de bornage en bonne et due forme, mais que les bornes physiques sont introuvables, vous pouvez faire appel à un géomètre pour replacer les bornes manquantes. Il s'agit d'un réabornement.
      <br><br>
      Le bornage est régi en Belgique par l’article 646 du Code Civil qui stipule que le bornage se fait à frais communs, partagés par moitié, quelle que soit l’étendue respective des propriétés à borner.
    </div>

    <div *ngIf="activity==='Division'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      La division consiste à séparer un bien (terrain ou bâtiment) en deux ou plusieurs lots.
      <br><br>
      Le bureau s’occupera du relevé de la parcelle ou du bâtiment ainsi que de sa division selon les désires du client.
      <br><br>
      Une fois le plan de division approuvé par le client, nous nous occupons de la demande de pré-cadastration ainsi que de la demande d’un nouveau numéro de référencement du plan.
      <br><br>
      Si vous le désirez, nous pouvons aussi réaliser le bornage de la nouvelle parcelle crée afin de matérialiser physiquement la nouvelle limite du terrain.
      <br><br>
      S’il s’agit d’une division d’immeuble, il conviendra de réaliser un acte de base afin de fixer les quote-part des parties communes et privative de l’immeuble.
    </div>

    <div *ngIf="activity==='Etat des Lieux'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Un état des lieux consiste à une description précise de l’état actuel d’un bien. Lors de la visite, l’expert note tous les détails apparents afin de réaliser, en toute impartialité, un rapport écrit et illustré par des photographies.
      <br><br>
      Géomètre Péters réalise des états des lieux :
      <br><br>
      <ul>
        <li>Locatifs en entrée et sortie de bail</li>
        <li>Pour la construction (avant travaux et après travaux)</li>
      </ul>
    </div>

    <div *ngIf="activity==='Calcul de Quotité'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Lorsqu’un immeuble doit être divisé en plusieurs appartement, il est nécessaire de déterminer à qui appartient quoi et dans quelle proportion. Quelles sont les parties communes et privatives ?
      <br><br>
      Pour déterminer cela, il faut réaliser un acte de base qui comprendra un plan de division qui servira de base au calcul des quotes-parts et une description détaillée du bien à diviser. Ensuite, l’expert devra réaliser un rapport motivé afin de déterminer les quotes-parts afférentes aux parties communes et privatives.
      <br><br>
      Bien entendu, l’expert respectera le code de mesurage des surfaces bâties.
    </div>

    <div *ngIf="activity==='Implantations'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Nous implantons tous types de projets :
      <br><br>
      <ul>
        <li>Bâtiments</li>
        <li>Mur</li>
        <li>Axe de voirie</li>
        <li>Axe de clôture</li>
        <li>...</li>
      </ul>
    </div>



    <div *ngIf="activity==='Expertise immobilière'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Nous implantons tous types de projets :
      <br><br>
      <ul>
        <li>Bâtiments</li>
        <li>Mur</li>
        <li>Axe de voirie</li>
        <li>Axe de clôture</li>
        <li>...</li>
      </ul>
      <br/>
      Nous effectuons aussi les contrôles d’implantations.
    </div>


    <div *ngIf="activity==='Mesurage Technique'" style="font-family: 'Montserrat'; color:grey; text-align: justify;margin-bottom: 5%; line-height: 1.6">
      <br>
      Afin d’aider les architectes dans la réalisation d’extensions, de modifications des bâtiments ou encore pour les régularisations de permis;
      nous effectuons les mesurages nécessaires pour créer les différents plans dont ils ont besoin:
      <br>
      <ul>
        <li>Plan des différents étages (rez-de-chaussée, cave, étage, …)</li>

        <li>Plan des façades</li>

        <li>Plan de coupes</li>

        <li>Un plan de situation</li>

        <li>Plan de la situation extérieur existante</li>

      </ul>
      Les relevés peuvent être positionnés dans un système de coordonnées local ou de référence (Lambert 72 ou Lambert 2008).
    </div>

  </div>
</div>
